<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img src="/images/<%= imageUrl %>" class="img-fluid">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/products/<%= id %>">
                        <%= name %>
                    </a>
                </h5>
                <p class="card-text">
                    <%= price %>
                </p>
            </div>
        </div>
    </div>
</div>